<!DOCTYPE html>

<html>

<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">
<!-- Custom CSS -->
<link rel="stylesheet" href="./main.css">

<title>Bicchieri Safaris</title>

</head>
<body>

    <header style="">
        <!-- //NAV BAR -->
        <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top" style="">
            <a class="navbar-brand" href="#"><i class="fas fa fa-navicon"></i>  Bicchieri Safaris</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navLinks">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a href="/" class="nav-link">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a href="/main" class="nav-link">SAFARIS</a>
                        </li>
                        <li class="nav-item">
                            <a href="/about" class="nav-link">ABOUT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<!-- about page -->
<!-- two sections, each section should include one picture with accompanying text -->

    <!-- //CONTENT 1 -->
    <!-- conservation -->
    <div id="group" class="container">
        <div class="row">
            <div id="conservation">
                <h2 style="text-align: center;" ><strong>A Leader in the Conservation Community</strong></h2>
                <h4 style="text-align: center;">Bicchieri Safaris Committment to the Future</h4>
                <div id="textboxAbout" style="height: flex; width: 80%; border: #f1592a 3px solid; margin: 20px auto; background-color: #BBBAB6;">
                    <div>
                        <p style="padding-left: 5px; text-align: center; color: black;">At, quibusdam architecto commodi eius eaque eum perferendis est. Cupiditate laborum sint sequi, hic vitae asperiores itaque dolores odit ducimus veniam culpa! Lorem ipsum dolor, sit amet consectetur adipisicing elit. <strong>Amet voluptas cupiditate suscipit est ut sit voluptatibus, debitis similique eaque odit non beatae ducimus illo aliquam sequi asperiores temporibus doloribus atque. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</strong></p>
                    </div>    
                </div>
            </div>  
        </div>
    </div>
    
    <!-- //CONTENT 2 -->
    <!-- History -->
    <div id="group" class="container" style="padding-bottom: 5px; margin-bottom: 5px;">
        <div class="row">
            <div id="history">
                <h2 style="text-align: center;" ><strong>Three Generations in the Making</strong></h2>
                <h4 style="text-align: center;">Bicchieri Safaris est. 1945</h4>
                <div id="textboxAbout" style="height: flex; width: 80%; border: #f1592a 3px solid; margin: 20px auto; background-color: #BBBAB6;">
                    <div>
                        <p style="padding-left: 5px; text-align: center; color: black;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quidem consequatur praesentium aspernatur ipsam quaerat laborum beatae aliquid alias, officiis corrupti non nobis. Nam quis distinctio ut, dignissimos cum delectus.</p>
                    </div>    
                </div>
            </div>  
        </div>
    </div>

<!-- //FOOTER -->
<footer>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header" >
                    <p style="font-size: 1vw;" class="navbar-brand" href="/">Bicchieri Safaris is a Registered Trademark of TravelProfiles Online CopyWrite Teo Fiann Bicchieri, all rights reserved.</p>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right"></ul>
                </div>
            </div>
        </nav>
    </footer>
                
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                        crossorigin="anonymous"></script>
                
    </body>
    </html>