<!DOCTYPE html>

<html>

<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">
<!-- Custom CSS -->
<link rel="stylesheet" href="./main.css">

<title>Bicchieri Safaris</title>

</head>
<body>

<!-- main page -->
<!-- this page will be about displaying different trip options. 
    there should be 6 sections, each displaying a mini brochure  -->
<!-- each section should have two pictures of the location, along 
    with two text sections and a book now button. the button will be just for show -->
    <header style="">
        <!-- //NAV BAR -->
        <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top" style="">
                <a class="navbar-brand" href="#"><i class="fas fa fa-navicon"></i>  Bicchieri Safaris</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navLinks">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <a href="/" class="nav-link">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a href="/main" class="nav-link">SAFARIS</a>
                            </li>
                            <li class="nav-item">
                                <a href="/about" class="nav-link">ABOUT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>

    <!-- content -->
    <div class="container">
        <div class="row">
            <!-- trip one -->
            <div id="first" class="col-md-12 col-lg-4" style="padding: 10px;">
                <div id="safariname" style="border: solid black 3px;">
                    <h2 style="text-align: center;" id="hunting"><strong>Highvelt Hunting Safari</strong></h2>
                    <h4 style="text-align: center;">7 Day</h4>
                </div>
                <div id="textbox" style="height: flex; width: 80%; margin: 20px auto;">
                    <div>
                        <p style="padding-left: 5px; text-align: center;">Seven days of hunting in the beautiful highvelt. This safari will see you traveling across the grasslands in pursuit of majestic Highvelts game!</p>
                        <p style="padding-left: 5px; text-align: center;"><strong>$18,000</strong></p>
                    </div>
                    <div>
                        <img src="https://huntinginafricasafaris.com/wp-content/uploads/2016/07/african-lion-hunting-safari-packages-1080x675.jpg" style="width: 100%; border: black 3px solid;">
                    </div>
                    <div class="secondpic" style="padding-top: 10px;">
                        <img src="https://bloximages.chicago2.vip.townnews.com/codyenterprise.com/content/tncms/assets/v3/editorial/3/60/360eebbe-8d4d-11e9-ac90-f3943bf600a3/5d015ac2253be.image.jpg?resize=1200%2C684" style="width: 100%; border: black 3px solid;">
                    </div>      
                </div>
            </div>
             <!--trip two  -->
            <div id="second" class="col-md-12 col-lg-4" style="padding: 10px;">
                <div id="safariname" style="border: solid black 3px;">
                    <h2 style="text-align: center;" id="survival"><strong>Desert Survival Safari</strong></h2>
                    <h4 style="text-align: center;">4 Days</h4>
                </div>
                <div id="textbox" style="height: flex; width: 80%; margin: 20px auto;">
                    <div>
                        <p style="padding-left: 5px; text-align: center;">Do you have what it takes to survive in the scorching Kalahari Desert? Put your skills to the test with our exclusive Deserty Survival Safari!</p>
                        <p style="padding-left: 5px; text-align: center;"><strong>$6,000</strong></p>
                    </div>
                    <div>
                        <img src="https://c.stocksy.com/a/Vj5500/z9/1213681.jpg?1552134527" style="width: 100%; border: black 3px solid;">
                    </div>
                    <div class="secondpic" style="padding-top: 10px;">
                        <img src="https://cdn.audleytravel.com/-/-/79/278747-giraffe-in-the-kalahari-desert.webp" style="width: 100%; border: black 3px solid;">
                    </div>      
                </div>
            </div> 
            <!-- trip three -->
            <div id="third" class="col-md-12 col-lg-4" style="padding: 10px;">
                <div id="safariname" style="border: solid black 3px;">
                    <h2 style="text-align: center;" id="sights"><strong>Savannah Sights Safari</strong></h2>
                    <h4 style="text-align: center;">12 Days</h4>
                </div>
                <div id="textbox" style="height: flex; width: 80%; margin: 20px auto;">
                    <div>
                        <p style="padding-left: 5px; text-align: center;">Spend your safari surveying the wildlife, tribes of native bushmen, and the stunning natural beauty of Southern Africa. Contact for details!</p>
                        <p style="padding-left: 5px; text-align: center;"><strong>$9,000</strong></p>
                    </div>
                    <div>
                        <img src="https://static.turbosquid.com/Preview/001228/971/9D/savanna-africa-savannah-model_D.jpg" style="width: 100%; border: black 3px solid;">
                    </div>
                    <div class="secondpic" style="padding-top: 10px;">
                        <img src="https://f4.bcbits.com/img/a0911118565_10.jpg" style="width: 100%; border: black 3px solid;">
                    </div>      
                </div>
            </div>
            <!-- trip four -->
            <div id="first" class="col-md-12 col-lg-4" style="padding: 10px;">
                <div id="safariname" style="border: solid black 3px;">
                    <h2 style="text-align: center;" id="capeToDurban"><strong>Cape Town to Durban</strong></h2>
                    <h4 style="text-align: center;">12-14 Days</h4>
                </div>
                <div id="textbox" style="height: flex; width: 80%; margin: 20px auto;">
                    <div>
                        <p style="padding-left: 5px; text-align: center;">Travel the width of South Africa from lush vinyards to velt to breathtaking coastal views. Available from October through May only.</p>
                        <p style="padding-left: 5px; text-align: center;"><strong>$12,000</strong></p>
                    </div>
                    <div>
                        <img src="https://previews.123rf.com/images/hpbfotos/hpbfotos1712/hpbfotos171200133/92540150-vineyards-in-spring-in-the-boland-wine-region-of-the-western-cape-in-south-africa.jpg" style="width: 100%; border: black 3px solid;">
                    </div>
                    <div class="secondpic" style="padding-top: 10px;">
                        <img src="https://blog.goway.com/globetrotting/wp-content/uploads/2016/05/Aerial-View-of-St-Lucia-Wetlands-or-iSimangaliso-Wetlands-Park-KwaZulu-Natal-South-Africa.jpg?x95206" style="width: 100%; border: black 3px solid;">
                    </div>      
                </div>
            </div>
             <!--trip five  -->
            <div id="second" class="col-md-12 col-lg-4" style="padding: 10px;">
                <div id="safariname" style="border: solid black 3px;">
                    <h2 style="text-align: center;" id="fishing"><strong>Coastal Fishing Safari</strong></h2>
                    <h4 style="text-align: center;">7 Days</h4>
                </div>
                <div id="textbox" style="height: flex; width: 80%; margin: 20px auto;">
                    <div>
                        <p style="padding-left: 5px; text-align: center;">If your idea of a safari has less to do with dust than seaspray then look no further! Ideal for those anglers who want to mix things up!</p>
                        <p style="padding-left: 5px; text-align: center;"><strong>$14,000</strong></p>
                    </div>
                    <div>
                        <img src="http://www.sfctravel.com/wp-content/uploads/2014/03/shark-1280x821.jpg" style="width: 100%; border: black 3px solid;">
                    </div>
                    <div class="secondpic" style="padding-top: 10px;">
                        <img src="https://dq1guhnd3lyhy.cloudfront.net/public/images/charters/5649/public/03cf3b9b6979e99af7309fd54b67be96.jpg" style="width: 100%; border: black 3px solid;">
                    </div>      
                </div>
            </div> 
            <!-- trip six -->
            <div id="third" class="col-md-12 col-lg-4" style="padding: 10px;">
                <div id="safariname" style="border: solid black 3px;">
                    <h2 style="text-align: center;" id="dream" ><strong>Riverboat Hunting Safari</strong></h2>
                    <h4 style="text-align: center;">4 Days</h4>
                </div>
                <div id="textbox" style="height: flex; width: 80%; margin: 20px auto;">
                    <div>
                        <p style="padding-left: 5px; text-align: center;">A twist on the traditional safari. Experience all the excitment of a safari from the comfort of a boat! Float downriver while you hunt!</p>
                        <p style="padding-left: 5px; text-align: center;"><strong>$8,000</strong></p>
                    </div>
                    <div>
                        <img src="https://d2g6byanrj0o4m.cloudfront.net/images/20740/shutterstock_472673977.jpg" style="width: 100%; border: black 3px solid;">
                    </div>
                    <div class="secondpic" style="padding-top: 10px;">
                        <img src="https://www.felixunite.com/wp-content/uploads/2018/08/26233342_10155361967088121_8704307356924878165_o-1024x768.jpg" style="width: 100%; border: black 3px solid;">
                    </div>      
                </div>
            </div>
        </div>
    </div>


<!-- //FOOTER -->
<footer>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" >
                <p style="font-size: 1vw;" class="navbar-brand" href="/">Bicchieri Safaris is a Registered Trademark of TravelProfiles Online CopyWrite Teo Fiann Bicchieri, all rights reserved. Please <a><strong>contact</strong></a> for details regarding use and marketing.</p>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right"></ul>
            </div>
        </div>
    </nav>
</footer>
            
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                    crossorigin="anonymous"></script>
            
</body>
</html>